/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.icon {
  width: 25px;
  height: 25px;
}

@screen sm {
  .icon {
    width: 30px;
    height: 30px;
  }
}


@screen lg {
  .icon {
    width: 35px;
    height: 35px;
  }
}
